*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
}

/*HEADER PLACE*/
.header-place {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  text-decoration: none;
}

.threeline {
  display: none;
}

.header-ul {
  display: flex;
  gap: 40px;
}

.header-li {
  padding: 24px 0;
  list-style: none;
}

.adress-ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.studio {
  color: #2e2f42;
}

.header-li .nav-studio-link {
  color: #2e2f42;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav .link {
  color: #404bbf;
}

.nav-studio-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-li .nav-studio-link::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-hover :hover {
  color: #404bbf;
}

.nav-hover :focus {
  color: #404bbf;
}

.adress {
  display: block;
  font-style: normal;
  margin-top: 25px;
  margin-left: 156px;
}

.adress-mail-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-tel-hover :hover {
  color: #404bbf;
}

.mail-tel-hover :focus {
  color: #404bbf;
}

/*MAİN FİRST SECTİON*/
.main-div {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.main-first-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.h-effective {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}

.order-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover {
  background-color: #404bbf;
}

.order-button:focus {
  background-color: #404bbf;
}

/* MAİN SECOND SECTİON */

.main-second-section {
  padding: 120px 0;
}

.main-second-section-ul {
  display: flex;
  gap: 24px;
}

.main-second-section-ul-li {
  list-style-type: none;
  width: calc((100%-72px)) / 4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.h-part {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.p-part {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

/*OUR TEAM THİRD SECTİON */
.main-third-div-container {
  display: block;
}

.main-third-section {
  background-color: #f4f4fd;
  padding: 120px 0;
  padding-bottom: 120px;
}

.h-our-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.main-third-section-ul {
  display: flex;
  gap: 24px;
}

.img-li {
  background-color: #ffffff;
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  list-style-type: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-li:hover,
.img-li:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.third-section-social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.third-section-sm-li {
  width: 40px;
  height: 40px;
}

.third-section-sm-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.third-section-sm-a:hover {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.third-section-sm-a:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.third-section-svg {
  fill: #f4f4fd;
}

.main-third-section-name-job {
  padding: 32px 0;
}

.h-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.p-job {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/*FOURTH SECTİON */

.portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.h-banking {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.p-app {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.p-app:hover {
  transform: translateY(0%);
}

.main-fourth-section {
  padding: 120px 0;
}

.fourth-div-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-fourth-section-ul {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.main-fourth-section-li {
  width: 360px;
  height: 420px;
  list-style-type: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-fourth-section-li :hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.fourth-section-img-include-div {
  position: relative;
  overflow: hidden;
}

.fourth-s-img-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-fourth-section-li:hover .fourth-s-img-p {
  transform: translateY(0);
}

.main-fourth-section-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

/*FOOTER PLACE*/
.f-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-div-container {
  display: flex;
  align-items: baseline;
}

.footer-div-div {
  margin-right: 120px;
}

.footer-div-sm-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-div-sm-p-ul {
  display: flex;
  gap: 16px;
}

.footer-div-sm-p-ul-li {
  width: 40px;
  height: 40px;
}

.footer-div-sm-p-ul-li-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-sm-a-svg {
  fill: #f4f4fd;
}

.footer-div-sm-p-ul-li-a:hover {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-div-sm-p-ul-li-a:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  color: #4d5ae5;
  margin-bottom: 16px;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer-span {
  color: #f4f4fd;
}

.p-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-form-p {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.footer-button-svg {
  margin-left: 16px;
}

/*MODAL WİNDOW*/

.modal-window-container-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-window-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-button:hover,
.modal-window-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-window-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-div {
  margin-left: 80px;
}

.modal-window-form-div {
  margin-bottom: 8px;
}
.modal-window-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-w-input-div-symbol {
  position: relative;
}

.modal-w-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-w-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-w-input-svg {
  width: 18;
  height: 18;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-w-input {
  fill: #4d5ae5;
}
.modal-w-input-svg {
  fill: #4d5ae5;
}

.comment-div {
  margin-bottom: 16px;
}

.modal-w-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-w-textarea:focus {
  border-color: #4d5ae5;
}

.modal-w-checkbox-div {
  margin-bottom: 24px;
}

.modal-w-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  border: none;
  fill: #f4f4fd;
}

.modal-w-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-w-checkbox-link {
  color: #4d5ae5;
}

.modal-w-chekbox-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}

.modal-w-checkbox-input:checked
  + .modal-w-checkbox-label
  .modal-w-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/*MENU-STUDİO-PHONE-VİEW*/

.phone-view-menu {
  display: none;
}

/*HOPE İS FİNİSH.. */

.is-open {
  display: none;
}

/*@MEDYA PLACES*/

.modal-window-container-div {
  display: none;
}

/*TABLET VİEW*/

/*HEADER-ADRESS PLACES*/

@media (min-width: 768px) and (max-width: 1158px) {
  .container {
    width: 100%;
  }

  body {
    margin: 0px;
    padding: 0px;
  }

  .nav-logo {
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .header-ul {
    width: 261px;
    height: 48px;
    margin-bottom: 16px;
  }

  .adress-ul {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
    align-items: center;
    margin-top: 16px;
  }

  /*MAİN FİRST PLACE*/

  .h-effective {
    width: 496px;
    height: 120px;
    margin-top: 112px;
    margin-left: 136px;
    margin-bottom: 204px;
    align-items: center;
  }

  /*MAİN-SECOND-SECTİON*/

  .svg {
    display: none;
  }

  .h-part {
    width: 264px;
    height: 40px;
    font-weight: 700;
    font-size: 36px;
  }
  .main-second-section-ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 96px;
    margin-left: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-second-section-ul-li {
    width: 356px;
    height: 120px;
  }

  /*MAİN-SECTİON-THİRD-PART*/

  .main-third-div-container {
    width: 768px;
    height: 1224px;
  }

  .main-third-section-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 64px;
  }

  /*MAİN-SECTİON-FOURTH-PART*/

  .main-fourth-section div h2 {
    text-decoration: none;
    color: #2e2f42;
  }

  /*FOOTER*/

  .footer-div-div {
    width: 264px;
    height: 112px;
  }

  .footer-div-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 108px;
    margin-top: 96px;
    margin-bottom: 96px;
    column-gap: 24px;
    row-gap: 72px;
  }
}

/*PHONE VİEW*/

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 100%;
  }

  body {
    margin: 0px;
    padding: 0px;
  }

  /*HEADER-PLACES*/
  .header-place {
    width: 320px;
    height: 56px;
  }

  .header-ul,
  .adress {
    display: none;
  }

  .web-studio {
    display: flex;
    justify-content: space-between;
  }

  .nav-logo {
    margin-right: 189px;
    margin: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }

  .threeline {
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-right: 16px;
  }

  /*MAİN-FİRST-SECTİON*/

  .main-first-section {
    padding: 72px 52px;
    width: 320px;
    height: 432px;
    background-size: cover;
  }

  .h-effective {
    font-size: 36px;
    line-height: 40px;
  }

  .main-first-section {
    background-size: cover;
  }

  /*MAİN-SECOND-SECTİON*/

  .svg {
    display: none;
  }

  .main-second-section-ul {
    flex-direction: column;

    gap: 72px;
  }
  .h-part {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }

  .p-part {
    font-size: 16px;
  }

  /*MAİN-THİRD-SECTİON*/

  .h-our-team {
    align-items: center;
    margin-left: 79px;
    margin-right: 79px;
    margin-top: 96px;
    margin-bottom: 72px;
    row-gap: 72px;
  }

  .main-third-section-ul {
    flex-direction: column;
    margin-left: 28px;
    margin-right: 28px;
  }

  /*FOURTH-SECTİON*/

  .fourth-div-container {
    margin: 0px 16px;
  }

  .main-fourth-section-li {
    width: 288px;
  }

  /*FOOTER*/
  .footer-div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 72px;
  }

  .footer-div-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }

  .footer-form {
    flex-direction: column;
  }

  /*PHONE VİEW MENU*/

  .phone-view-menu {
    display: none;
    width: 320px;
    height: 56px;
  }

  .phone-menu h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
  }

  .phone-menu {
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    margin-left: 16px;
    margin-bottom: 168px;
    gap: 40px;
  }

  .phone-link {
    margin-left: 16px;
    margin-bottom: 48px;
  }

  .phone-link-ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    column-gap: 24px;
    row-gap: 24px;
  }

  .phone-icons {
    padding-bottom: 40px;
  }

  .phone-icons-ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .phone-icons-li {
    list-style-type: none;
  }

  .phone-svg {
    width: 40px;
    height: 40px;
  }

  /*PHONE VİEW MODAL PLACE*/
}
